form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    
    label {
        margin-bottom: 10px;
        font-weight: bold;
        color: black;
    }

    input[type='text'],
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #1c1b1b;
        border-radius: 5px;
        color: black;
    }

    button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}
