.team-section {
ul {
    list-style: none;

    li {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;

    &:hover {
        text-decoration: underline;
    }
}
}