.UpdateForm-section {
    text-align: center;
    margin-top: 50px;

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 10px;
    }

    input[type='text'] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type='submit'] {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}
