header {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px -13px 25px -27px #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}



.logo strong {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    font-family: Mynerve, sans-serif;

}

.burger {
    background-color: aliceblue;
    position: absolute;
    transform: translateY(-50%);
    top: 20px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.navbar {
    display: none;

}

.mobile-menu {
    background-color: rgba(255, 255, 255, 0.379);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.icons {
    display: flex;
    padding: 15px;


}

.icons a li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links a {
    padding: 20px;
}

.links a li {
    font-size: 1.2rem;
    display: inline-block;
    padding: 2px;
    position: relative;
}

.links a li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.links a li:hover::after {
    transform: scaleX(1);
}


.icon {
    font-size: 1.6rem;
}





@media screen and (min-width: 767px) {

    .burger {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .logo {
        padding: 5px 15px;

    }
    .logo a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
    
    .logo img {
        height: 30px; /* Adjust the height as needed */
        margin-right: 10px; /* Add some spacing between the logo and the title */
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links {
        flex-direction: row;
        margin-right: 5vw;
    }

    .links a {
        padding: 0 20px;
    }

    .icons {
        padding: 0;
        order: 2;
    }
}